<div class="content">
  <mat-card class="card">

    <form [formGroup]="registerForm" (ngSubmit)="register()" class="card">

      <div class="card-header">
        Register
      </div>

      <mat-form-field class="input-field">
        <mat-label>Login</mat-label>
        <input matInput [type]="'text'" formControlName="username">
        <button mat-button *ngIf="registerForm.get('username')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="registerForm.get('username')?.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide">
          <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Repeat password</mat-label>
        <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="passwordRepetition">
        <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide">
          <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Email</mat-label>
        <input matInput [type]="'text'" formControlName="email">
        <button mat-button *ngIf="registerForm.get('email')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="registerForm.get('email')?.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="loginRoute()">Back</button>
        <button type="submit" mat-raised-button color="primary">Register</button>
      </div>

    </form>

  </mat-card>

</div>


