<mat-card>

  <div fxLayoutAlign="center">
    <h2>{{symbol}}</h2>
  </div>

  <div fxLayoutAlign.xs="center" fxLayout.lt-lg="column" fxLayoutAlign="space-between">

    <mat-form-field [ngClass.xs]="'full-width'" appearance="outline">
      <mat-label>Time period</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option [value]="selectedValue">Single day</mat-option>
        <mat-option [value]="selectedValue">Range</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [ngClass.xs]="'full-width'"  appearance="outline">
    <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

  </div>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
    style="width: 100%; height: 600px; display: block">
  </highcharts-chart>

</mat-card>
